@import 'theme';

.ts-panel {
    position: relative;
    display: flex;
    flex-direction: column;

    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);

    margin-bottom: 20px;

    &_with-heading {
        > .ts-section__content {
            margin-left: 20px;
        }
    }

    &__heading {
        background-color: #F2F0EC;
        color: #000;
        font-weight: 400;
        font-size: 16px;
        padding: 5px 10px;
    }

    &__content {

    }
}
