.file {
    color: var(--color-4);
    display: flex;
    align-items: center;

    font-weight: lighter;
    transition: all 250ms;

    &:visited {
        color: var(--color-4);
    }

    &:hover {
        color: var(--color-3);
    }
}

.file_folder {
    font-weight: normal;
}
