@import 'theme';

.ts-section {
    &_lvl_1 {
        .ts-section__heading {
            color: #000;
            font-weight: 600;
            position: relative;
        }
    }

    &_with-heading {
        > .ts-section__content {
            margin-left: 20px;
        }
    }

    &__heading {
        margin: 10px 0;
    }

    &__content {

    }
}
