@import 'theme';

.ts-interface {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    &__constraints {
        margin-left: 20px;
    }

    &__heritage {
        margin-left: 20px;
    }
}
