@import 'theme';

.ts-type-members {
    display: flex;

    &__member {
    }

    &__body {
        flex: 1 1 auto;
        margin-right: 20px;
    }

    &__nav {
        flex: 0 0 250px;
        position: relative;
    }

    &__nav-body {
        width: 250px;
        position: fixed;
        right: 0;
        top: 20px;

        max-height: calc(100vh - 40px);
        overflow: scroll;
    }

    &__nav-item {
        border-left: 3px solid #ccc;
        padding: 5px 0 5px 10px;
        transition: all 100ms ease;

        &_active {
            border-left-color: red;
        }
    }

    &_inline {
        .ts-type-members__body {
            margin-right: 0;
            display: flex;
            flex-direction: column;
        }
    }
}
