@import 'theme';

html, body {
    margin: 0;
    padding: 0;

    font-size: 14px;
    font-family: var(--sans-serif);
}

h1, h2, h3, h4, h5, h6 {
    all: initial;
}

.app {
    display: flex;
    flex-direction: column;

    &__hotkeys:focus {
        outline: none;
    }

    &__layout {
        flex: 1 1 auto;
        margin-top: 50px;
    }
}
