@import 'theme';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;

    font-size: 14px;
    font-family: var(--sans-serif);
}

h1, h2, h3, h4, h5, h6 {
    all: initial;
}

.app {
    display: flex;
    flex-direction: column;

    &__hotkeys:focus {
        outline: none;
    }

    &__layout {
        flex: 1 1 auto;
        margin-top: 40px;
    }
}

@font-face {
	font-family: "Roboto Mono";
	font-style: italic;
	font-weight: 100;
	src: local("Roboto Mono Thin Italic"),local(RobotoMono-ThinItalic),url(//fonts.gstatic.com/s/robotomono/v4/rqQ1zSE-ZGCKVZgew-A9dm6KUNDZn-maNE0jF5VeMII.eot?#) format("eot"),url(//fonts.gstatic.com/s/robotomono/v4/rqQ1zSE-ZGCKVZgew-A9dgCt6Xj8PpQTiblvscQDJGE.woff2) format("woff2"),url(//fonts.gstatic.com/s/robotomono/v4/rqQ1zSE-ZGCKVZgew-A9dghtpAimBp4V9tWdvRZqSBY.woff) format("woff");
}

@font-face {
	font-family: "Roboto Mono";
	font-style: italic;
	font-weight: 300;
	src: local("Roboto Mono Light Italic"),local(RobotoMono-LightItalic),url(//fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKA1NjWrQGkHHRlfZ8BWrO3Hg.eot?#) format("eot"),url(//fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKA2JNL1kWLlAYCVnltOJOPdY.woff2) format("woff2"),url(//fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKAzri8ykLuesnP4qBvpSenQU.woff) format("woff");
}

@font-face {
	font-family: "Roboto Mono";
	font-style: italic;
	font-weight: 400;
	src: local("Roboto Mono Italic"),local(RobotoMono-Italic),url(//fonts.gstatic.com/s/robotomono/v4/mE0EPT_93c7f86_WQexR3KSxSvC1lIsK_unZDHWqTBg.eot?#) format("eot"),url(//fonts.gstatic.com/s/robotomono/v4/mE0EPT_93c7f86_WQexR3Mu2Q0OS-KeTAWjgkS85mDg.woff2) format("woff2"),url(//fonts.gstatic.com/s/robotomono/v4/mE0EPT_93c7f86_WQexR3NkZXW4sYc4BjuAIFc1SXII.woff) format("woff");
}

@font-face {
	font-family: "Roboto Mono";
	font-style: italic;
	font-weight: 500;
	src: local("Roboto Mono Medium Italic"),local(RobotoMono-MediumItalic),url(//fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKA_KmQu4cG5QnmuCFCsciK9o.eot?#) format("eot"),url(//fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKAw28na7a-F9KZNLutV0Cpw0.woff2) format("woff2"),url(//fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKA3sOjp2j4oPInuz1P52HMwA.woff) format("woff");
}

@font-face {
	font-family: "Roboto Mono";
	font-style: italic;
	font-weight: 700;
	src: local("Roboto Mono Bold Italic"),local(RobotoMono-BoldItalic),url(//fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKA9mkQI_kos-lIOeNt19QAas.eot?#) format("eot"),url(//fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKA49ObOXPY1wUIXqKtDjSdsY.woff2) format("woff2"),url(//fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKAwRV2F9RPTaqyJ4QibDfkzM.woff) format("woff");
}

@font-face {
	font-family: "Roboto Mono";
	font-style: normal;
	font-weight: 100;
	src: local("Roboto Mono Thin"),local(RobotoMono-Thin),url(//fonts.gstatic.com/s/robotomono/v4/aOIeRp72J9_Hp_8KwQ9M-beskzFlZTkzN_FGynPZJZk.eot?#) format("eot"),url(//fonts.gstatic.com/s/robotomono/v4/aOIeRp72J9_Hp_8KwQ9M-dFPPhm6yPYYGACxOp9LMJ4.woff2) format("woff2"),url(//fonts.gstatic.com/s/robotomono/v4/aOIeRp72J9_Hp_8KwQ9M-SeJLMOzE6CCkidNEpZOseY.woff) format("woff");
}

@font-face {
	font-family: "Roboto Mono";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Mono Light"),local(RobotoMono-Light),url(//fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz7XcjzEax2LfQAlK8DdMzhA.eot?#) format("eot"),url(//fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz0o2lTMeWA_kmIyWrkNCwPc.woff2) format("woff2"),url(//fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fzx_xHqYgAV9Bl_ZQbYUxnQU.woff) format("woff");
}

@font-face {
	font-family: "Roboto Mono";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Mono"),local(RobotoMono-Regular),url(//fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY2fQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY44P5ICox8Kq3LLUNMylGO4.woff2) format("woff2"),url(//fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY4bN6UDyHWBl620a-IRfuBk.woff) format("woff");
}

@font-face {
	font-family: "Roboto Mono";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Mono Medium"),local(RobotoMono-Medium),url(//fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59FzyGu2KOSTawI8d9zCvShylg.eot?#) format("eot"),url(//fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz7BojE9J5UnpMtv5N3zfxwk.woff2) format("woff2"),url(//fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59FzyqHEX2q--o2so14pIEl08w.woff) format("woff");
}

@font-face {
	font-family: "Roboto Mono";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Mono Bold"),local(RobotoMono-Bold),url(//fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz7Ft29aCHKT7otDW9l62Aag.eot?#) format("eot"),url(//fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz4lIZu-HDpmDIZMigmsroc4.woff2) format("woff2"),url(//fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59FzzqR_3kx9_hJXbbyU8S6IN0.woff) format("woff");
}

@font-face {
	font-family: "Source Sans Pro";
	font-style: italic;
	font-weight: 200;
	src: local("Source Sans Pro ExtraLight Italic"),local(SourceSansPro-ExtraLightIt),url(//fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6CPAIRw3TZpZEbtNzDM7Nlo.eot?#) format("eot"),url(//fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6GLvoADUPo08d8_TfMCzMpg.woff2) format("woff2"),url(//fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6PwwJPUC4r0o28cUCbhjOjM.woff) format("woff");
}

@font-face {
	font-family: "Source Sans Pro";
	font-style: italic;
	font-weight: 300;
	src: local("Source Sans Pro Light Italic"),local(SourceSansPro-LightIt),url(//fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6Ffv2gilBNcWxh_XnzykpgY.eot?#) format("eot"),url(//fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6MAjkyiewWYrWZc50I8hK7I.woff2) format("woff2"),url(//fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6GGomRtBD2u8FwSY4jjlmeA.woff) format("woff");
}

@font-face {
	font-family: "Source Sans Pro";
	font-style: italic;
	font-weight: 400;
	src: local("Source Sans Pro Italic"),local(SourceSansPro-It),url(//fonts.gstatic.com/s/sourcesanspro/v9/M2Jd71oPJhLKp0zdtTvoM04EkD-uilk0_oIxFXvMtLk.eot?#) format("eot"),url(//fonts.gstatic.com/s/sourcesanspro/v9/M2Jd71oPJhLKp0zdtTvoMxgy2Fsj5sj3EzlXpqVXRKo.woff2) format("woff2"),url(//fonts.gstatic.com/s/sourcesanspro/v9/M2Jd71oPJhLKp0zdtTvoMzNrcjQuD0pTu1za2FULaMs.woff) format("woff");
}

@font-face {
	font-family: "Source Sans Pro";
	font-style: italic;
	font-weight: 600;
	src: local("Source Sans Pro Semibold Italic"),local(SourceSansPro-SemiboldIt),url(//fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6EbumxWHRSe1oVyAWeloI5o.eot?#) format("eot"),url(//fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6GQKuzMuncr0JB710wa2dPI.woff2) format("woff2"),url(//fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6PULlOK_XQENnt2ryrY843E.woff) format("woff");
}

@font-face {
	font-family: "Source Sans Pro";
	font-style: italic;
	font-weight: 700;
	src: local("Source Sans Pro Bold Italic"),local(SourceSansPro-BoldIt),url(//fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6HXzH4U_Axe6qCclt7v7nW0.eot?#) format("eot"),url(//fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6Nnl6YROR5rHLkdLoHwoOWA.woff2) format("woff2"),url(//fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6Nog-We9VNve39Jr4Vs_aDc.woff) format("woff");
}

@font-face {
	font-family: "Source Sans Pro";
	font-style: italic;
	font-weight: 900;
	src: local("Source Sans Pro Black Italic"),local(SourceSansPro-BlackIt),url(//fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6JbSLHYK2KPWJI4XZKReQz0.eot?#) format("eot"),url(//fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6Kixy-5gtMP3-zP8S1pobIg.woff2) format("woff2"),url(//fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6ONg1gFYvjbPSGxSBhvPu6E.woff) format("woff");
}

@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 200;
	src: local("Source Sans Pro ExtraLight"),local(SourceSansPro-ExtraLight),url(//fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGFl_EbE5kujbLzdX6sKqH6g.eot?#) format("eot"),url(//fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGCVh0V6fR69OLaFLklYbiSk.woff2) format("woff2"),url(//fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGMa9awK0IKUjIWABZIchFI8.woff) format("woff");
}

@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 300;
	src: local("Source Sans Pro Light"),local(SourceSansPro-Light),url(//fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGBlTL9oEQvYTI0YAW1-Ysv0.eot?#) format("eot"),url(//fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGOode0-EuMkY--TSyExeINg.woff2) format("woff2"),url(//fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGNbE_oMaV8t2eFeISPpzbdE.woff) format("woff");
}

@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	src: local("Source Sans Pro"),local(SourceSansPro-Regular),url(//fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlN0tugusXa58UbOrParLRF0.eot?#) format("eot"),url(//fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2) format("woff2"),url(//fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format("woff");
}

@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 600;
	src: local("Source Sans Pro Semibold"),local(SourceSansPro-Semibold),url(//fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGNanmHNzStikJN_FjplbBik.eot?#) format("eot"),url(//fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGCOFnW3Jk0f09zW_Yln67Ac.woff2) format("woff2"),url(//fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGJ6-ys_j0H4QL65VLqzI3wI.woff) format("woff");
}

@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 700;
	src: local("Source Sans Pro Bold"),local(SourceSansPro-Bold),url(//fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGFV89XnfCtb1fhQGOlhyqi8.eot?#) format("eot"),url(//fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGEo0As1BFRXtCDhS66znb_k.woff2) format("woff2"),url(//fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGFkQc6VGVFSmCnC_l7QZG60.woff) format("woff");
}

@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 900;
	src: local("Source Sans Pro Black"),local(SourceSansPro-Black),url(//fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGCDZg7i-e40o9FYYiSpZxAc.eot?#) format("eot"),url(//fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGHZhYM0_6AejPZE-OqA592o.woff2) format("woff2"),url(//fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGHiec-hVyr2k4iOzEQsW1iE.woff) format("woff");
}
