html, body {
    all: initial;
    height: 100%;
}

#react-app {
    height: 100%;
}

.app {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    &__layout {
        flex: 1 1 auto;
    }
}
