@import 'theme';

.link {
    text-transform: none;
    text-decoration: none;
    cursor: pointer;

    color: var(--link-color);

    transition: all 250ms;

    &:visited {
        color: var(--link-color);
    }

    &:hover {
        color: var(--link-color);
        text-decoration: underline;
    }
}
