@import 'theme';

.paper {
    display: inline;

    &_block {
        display: block;
    }

    &_active {
        outline: 20px solid rgba(246, 225, 65, 0.5);
        background: rgba(246, 225, 65, 0.5);
    }
}
