.file {
    display: flex;
    align-items: center;

    font-weight: lighter;
    transition: all 250ms;
}

.file_folder {
    font-weight: normal;
}

.file_pseudo {
    color: #ccc;

    &:visited {
        color: #ccc;
    }

    &:hover {
        color: var(--color-3);
    }
}

.file_active {
    font-weight: bold;
}
