.file {
    display: inline-flex;
    align-items: center;

    font-weight: lighter;
    transition: all 250ms;
}

.file_folder {
    font-weight: normal;
}

.file_pseudo {
    color: #ccc;

    &:visited {
        color: #ccc;
    }
}

.file_active {
    font-weight: 400;
}
