@import 'theme';

.header {
    z-index: 100;
    flex: 0 0;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: white;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    box-shadow:
        0 1px 6px 0 rgba(0, 0, 0, .25),
        0 2px 10px rgba(0, 0, 0, .1);

    font-family: var(--sans-serif);

    &__sidebar {
        width: 200px;
        flex: 0 0 auto;
        margin-right: 20px;
    }

    &__content {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
    }

    &__main {
        flex: 1 1 auto;
    }

    &__actions {
        flex: 0 0 auto;
        margin-right: 20px;
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: lighter;
        text-transform: uppercase;
        height: 40px;
        font-size: 15px;
        text-align: center;
        color: #999;
        font-weight: bold;

        &:hover {
            color: #999;
            text-decoration: none;
        }

        &:visited {
            color: #999;
            text-decoration: none;
        }
    }
}
