@import 'theme';

.heading {
    font-family: var(--sans-serif);
    font-weight: 400;

    margin: 0;
    padding: 0;

    &_lvl_1 {
        font-size: 24px;
        line-height: 40px;
    }

    &_lvl_2 {
        margin-bottom: 10px;
    }
}
