@import 'theme';

.ts-section {
    font-family: var(--sans-serif);

    &_with-heading {
        > .ts-section__content {
            margin-left: 20px;
        }
    }

    &__heading {
        font-weight: bold;
        margin: 10px 0;
    }

    &__content {

    }
}
