@import 'theme';

.search {
    display: flex;
    align-items: center;

    &__toggle {
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        cursor: pointer;
        width: 80px;
        height: 40px;
    }

    &__hotkeys:focus {
        outline: none;
    }

    &__icon {
        width: 18px;
        height: 18px;
    }

    &__main {
        z-index: 99;
        position: fixed;
        top: 0;
        width: 500px;
        height: 100vh;
        right: 0;

        display: flex;
        flex-direction: column;

        background-color: white;
        box-shadow:
            0 1px 6px 0 rgba(0, 0, 0, .25),
            0 2px 10px rgba(0, 0, 0, .1);
    }

    &__input {
        padding: 0 10px;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
    }

    &__control {
        outline: none;
        border: none;
        height: 37px;
        width: 100%;
        font-size: 20px;
        line-height: 40px;
        font-family: var(--sans-serif);
    }

    &__results {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    &__result {
        flex: 0 0 auto;
        height: 40px;
        display: flex;
        align-items: center;
        padding: 5px 20px;
        border-bottom: 1px solid #f0f0f0;
    }

    &__result-innner {
        display: flex;
        align-items: center;
    }

    &__result-hint {
        margin-left: 20px;
        color: #777;
        font-size: 14px;
    }
}
