@import 'theme';

.ts-type-nav {
    flex: 0 0 auto;
    width: 250px;
    position: relative;

    &__link {
        word-break: break-all;
    }

    &__body {
        width: 250px;
        position: fixed;
        right: 0;
        top: 40px;
        max-height: calc(100vh - 40px);
        display: flex;
        flex-direction: column;
    }

    &__scroll {
        overflow: auto;
    }

    &__item {
        border-left: 2px solid #eee;
        padding: 5px 0 5px 10px;
        transition: all 100ms ease;

        &_active {
            border-left-color: red;
        }
    }
}
