.layout {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    &__sidebar {
        flex: 0 0 200px;
    }

    &__content {
        flex: 1 1 auto;
    }
}

.layout_theme_white {
    & .layout {
        &__sidebar {
            background-color: #f0f0f0;
        }
    }
}
