.layout {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    &_reverse {
        flex-direction: row-reverse;
    }

    &__sidebar {
        flex: 0 0 200px;
        overflow: scroll;
        height: calc(100vh - 40px);
        background-color: #f9f9f9;
        position: fixed;
        left: 0;
        width: 200px;
    }

    &__content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        .layout__sidebar {
            left: 200px;
        }
    }

    &__item {
        flex: 1 1 auto;
    }
}

.layout_theme_white {
    & .layout {
        &__sidebar {

        }
    }
}
