.search {
    height: 40px;

    box-sizing: border-box;
    margin: 0 20px;

    input {
        box-sizing: border-box;
        font-size: 18px;
        width: 100%;
        border: none;
        outline: none;
        height: 40px;
        font-weight: lighter;
        color: #555;

        border-bottom: 1px solid #ccc;
        transition: all 250ms;

        &:focus {
            border-color: var(--color-3);
        }
    }
}

.search__results {
    height: 0;
    position: absolute;
    background: #f0f0f0;
    z-index: 1;
    left: 20px;
    right: 20px;

    transition: all 250ms ease;
}

.search__results_expanded {
    height: 100%;
}
