@import 'theme';

.module {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

    &__header {
        flex: 0 0;
        height: 40px;
        display: flex;
        align-items: center;

        font-family: var(--sans-serif);
    }

    &__content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }

    &__view {
        flex: 1 1 auto;
    }
}
