@import 'theme';

.ts-list-section {
    &__heading {
        height: 40px;
        display: flex;
        align-items: center;

        border-bottom: 1px solid #eee;
        margin-bottom: 10px;
    }

    &__item {
        height: 20px;
        align-items: center;
        margin-right: 20px;
        width: calc(200px - 20px);
        min-width: auto;
        font-size: 13px;

        overflow: hidden;
        text-overflow: ellipsis;
    }

    &_view_row {
        .ts-list-section__items {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &_view_column {
        .ts-list-section__items {
            display: flex;
            flex-direction: column;
        }
    }
}
