@import 'theme';

.ts-module {
    display: flex;
    flex-direction: column;

    &__layout {
        flex: 1 1;
    }

    &__layout-sidebar {
        padding: 0 0 0 10px;
        box-sizing: border-box;
    }

    &__layout-content {
        margin-left: 420px;
        margin-top: 10px;
    }
}
