@import 'theme';

.ts-signature-param {
    &:hover {
        padding-bottom: 3px;
        border-bottom: 1px solid #ccc;
    }

    .ts-signature-param {
        &:hover {
            padding-bottom: 6px;
            border-bottom: 1px solid #ccc;
        }
    }
}
