@import 'theme';

.ts-method {
    font-family: var(--sans-serif);

    &__signature {
        display: block;
    }

    &__figure {
        margin-bottom: 10px;
    }

    &__signature-section + &__signature-section {
        margin-top: 20px;
    }
}
