@import 'theme';

.nav {
    box-sizing: border-box;
    font-family: var(--sans-serif);

    &__package {
        position: relative;
        height: 40px;
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: lighter;
        text-transform: uppercase;
        height: 40px;
        font-size: 15px;
        text-align: center;
        color: #aaa;
    }

    &__section {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;

        margin-bottom: 10px;
        border-bottom: 1px solid #ccc;
    }

    &__package {
        /*text-shadow: 1px 1px 1px #555;*/
        box-sizing: border-box;
        color: var(--link-color);

        display: flex;
        align-items: center;
        padding: 0 0 0 30px;
    }

    &__struct {
        display: flex;
        flex-direction: column;
    }

    &__struct-item {
        height: 26px;
        padding: 0 0 0 20px;
    }
}
