@import 'theme';

.heading {
    font-family: var(--sans-serif);
    font-weight: 400;

    margin: 0;
    padding: 0;

    &_lvl_1 {
        font-size: 24px;
        line-height: 40px;
    }

    &_lvl_2 {
        display: block;
        margin: 10px 0 20px 0;
        font-size: 20px;
        border-bottom: 1px solid #ccc;
    }
}
