.link {
    color: white;
    text-decoration: none;

    &:hover {
        color: white;
        text-decoration: none;
    }

    &:visited {
        color: white;
        text-decoration: none;
    }
}
